.share-facebook-button {
    font-size: 15px;
    margin-top: 5px;
    background-color: #1877f2;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    border-radius: 3px;
}