.container-header-v2{
    height: 500px;
    width: 100%;
    background-image: url("/img/background-slide.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    align-items: center;
}