.right-bar-item-text a{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.right-bar-item img{
    object-fit: cover;
    width: 80px !important;
    height: 80px !important;
}