.top-nav-wrapper{
    background-color: #2c2c2c;
    opacity: 0.7;
    height: 50px;
    width: 100%;
}
.top-nav{
   
    margin: 0 auto;
    height: 100%;
}

.toggle-menu-wrapper{
    display: none;
    width: 100%;
    background-color: #2c2c2c;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo-img img, .logo-img2 img{
    height: 25px;
    object-fit: cover;
    display: inline-block;
}
.main-nav{
    height: 80px;
    margin: 0 auto;
    border-bottom: 0.6px solid #6e6e6e;
}
.link-nav ul li{
    margin-right: 20px;
}
.link-nav ul li:last-child{
    margin-right: 0;
}
.fix-main-nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.fix-main-nav div nav div{
    border: 0;
}

#search-modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}
#search-modal input {
    height: 35px;
    width: 400px;
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid rgba(256, 256, 256, 1);
    color: #fff;
}

#search-modal input::placeholder {
    color: #fff;
}

@media (min-width: 992px) {
    .main-nav-wrapper{
        opacity: 1 !important;
    }
}



@media (max-width: 991px){

    .toggle-menu-wrapper{display: block;} 
    .top-nav-wrapper,  .main-nav .logo{display: none;}
    .main-nav{display: block; height: 100%; border: 0}
    .link-nav ul {flex-direction: column; align-items: center; justify-content: center;}
    .link-nav ul li{
        margin: 10px auto !important;
    }
    .fix-main-nav{display: none;}
    .main-nav-wrapper{
        border-top: 1px solid rgba(256, 256, 256, 0.3);
        background-color: #2c2c2c; 
        width: 100%; 
        padding-top: 20px; 
        padding-bottom: 20px;
        position: absolute;
        transition: 0.05s ease-out;
    }
}

@media screen and (max-width: 532px) {
    #search-modal input {
        width: 100%;
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
}