.right-bar{
    padding: 40px;
    background-color: #fff;
}


.right-bar h1{
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
}
.right-bar img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
